<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if page <= 1 %} disabled{% endif %}">
      <a class="page-link"{% if page > 1 %} href="?page={{ previous_page }}{% endif %}">Previous</a>
    </li>
    {% for num_page in range_pages %}
      <li class="page-item{% if page == num_page %} active{% endif %} "><a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a></li>
    {% endfor %}
    <li class="page-item{% if page >= num_pages %} disabled{% endif %}">
      <a class="page-link" {% if page <= num_pages %}href="?page={{ next_page }}"{% endif %}>Next</a>
    </li>
  </ul>
</nav>
